{% load i18n mptt_tags %}

{% for attribute, structure in attributes|tree_info %}
  {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
    <a href="{{ attribute.get_absolute_url }}" title="{{ attribute.title }}">{{ attribute.title }}</a> 
    {% blocktrans count attribute.attributetypes_published.count as attributetype_count %}{{ attributetype_count }} attributetype{% plural %}{{ attributetype_count }} attributetypes{% endblocktrans %}
  {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% empty %}
<ul>
  <li>
    {% trans "No attributes yet." %}
  </li>
</ul>
{% endfor %}


