{% load i18n %}

<ul>
  {% for author in authors %}
  <li class="vcard">
    <a href="{% url attributeapp_author_detail author.username %}"
       title="{{ author.username }}" class="fn nickname url">{{ author.username }}</a>
    {% blocktrans count author.attributetypes_published.count as attributetype_count %}{{ attributetype_count }} attributetype{% plural %}{{ attributetype_count }} attributetypes{% endblocktrans %}
  </li>
  {% empty %}
  <li>
    {% trans "No authors yet." %}
  </li>
  {% endfor %}
</ul>
