{% load i18n %}
<ul>
  {% for attributetype in attributetypes %}
  <li>
    <a href="{{ attributetype.get_absolute_url }}" title="{{ attributetype.title }}" rel="bookmark">{{ attributetype.title }}</a>
    <br />
    {% with attributetype.comments.count as comment_count %}
    <a href="{{ attributetype.get_absolute_url }}#comments" title="{{ attributetype.title }}">{{ comment_count }} {% trans "comment" %}{{ comment_count|pluralize }}</a>
    {% endwith %}
  </li>
  {% empty %}
  <li>
    {% trans "No attributetypes yet." %}
  </li>
  {% endfor %}
</ul>
