{% if attributetypes %}
<div id="slider">
  <ul class="ui-tabs-nav">
    {% for attributetype in attributetypes %}
    <li class="ui-tabs-nav-item{% if forloop.first %} ui-tabs-selected{% endif %}"
        id="nav-slider-{{ forloop.counter }}">
      <a href="#attributetype-slider-{{ forloop.counter }}">
        <img src="{% if attributetype.image %}{{ attributetype.image.url }}{% endif %}" alt="{{ attributetype.title }}" />
        <span>{{ attributetype.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for attributetype in attributetypes %}
  <div id="attributetype-slider-{{ forloop.counter }}" class="ui-tabs-panel">
    <img src="{% if attributetype.image %}{{ attributetype.image.url }}{% endif %}" alt="{{ attributetype.title }}" />
    <div class="panel_info">
      <h2>
        <a href="{{ attributetype.get_absolute_url }}" rel="bookmark">{{ attributetype.title }}</a>
      </h2>
      {{ attributetype.excerpt|linebreaks|truncatewords_html:20 }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
