{% extends "relationapp/base.html" %}
{% load i18n relationapp_tags %}

{% block meta-description %}{% trans "Latest relationtypes for" %} {% if relation %}{% trans "the relation" %} {{ relation }}{% if relation.description %}: {{ relation.description|striptags|safe }}{% endif %}{% endif %}{% if tag %}{% trans "the tag" %} {{ tag }}{% endif %}{% if author %}{% trans "the author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} {% trans "page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% if relation %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ relation.title }}" href="{% url relationapp_relation_feed relation.tree_path %}" />
  {% endif %}
  {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ tag.name }}" href="{% url relationapp_tag_feed tag.name %}" />
  {% endif %}
  {% if author %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ author.username }}" href="{% url relationapp_author_feed author.username %}" />
  {% endif %}
{% endblock %}

{% block title %}{% trans "Latest relationtypes" %} {% if relation %}| {% trans "Relation" %} {{ relation }}{% endif %}{% if tag %}| {% trans "Tag" %} {{ tag }}{% endif %}{% if author %}| {% trans "Author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block content %}
{% if relation %}
<h1>{{ relation.title }}</h1>
<h3>{{ relation.composed_sentence }}</h3>
{% if relation.description %}
<p>{{ relation.description|striptags|safe }}</p>
{% endif %}
{% endif %}

{% if tag %}
<h1>{% trans "Tag" %} : {{ tag }}</h1>
{% endif %}

{% if author %}
<h1>{% blocktrans with author.username as author %}Relationtypes by {{ author }}{% endblocktrans %}</h1>
{% endif %}

{% for object in object_list %}
  {% with object.html_content|truncatewords_html:100|safe as object_content %}
  {% include "relationapp/_relationtype_detail.html" %}
  {% endwith %}
{% empty %}
  <p class="notice">{% trans "No nodes in the network yet. Login and construct a network!" %}</p>
{% endfor %}

{% if is_paginated %}
  {% relationapp_pagination page_obj %}
{% endif %}
{% endblock %}

{% block admin_tools %}
  {% if relation and perms.relationapp.change_relation %}
  <li>
    <a href="{% url admin:relationapp_relation_change relation.pk %}" title="{% trans "Edit the relation" %}">
      {% trans "Edit the relation" %}
    </a>
  </li>
  {% endif %}
  {% if tag and perms.tagging.change_tag %}
  <li>
    <a href="{% url admin:tagging_tag_change tag.pk %}" title="{% trans "Edit the tag" %}">
      {% trans "Edit the tag" %}
    </a>
  </li>
  {% endif %}
  {% if author and perms.auth.change_user %}
  <li>
    <a href="{% url admin:auth_user_change author.pk %}" title="{% trans "Edit the author" %}">
      {% trans "Edit the author" %}
    </a>
  </li>
  {% endif %}
{% endblock %}

