{% extends "relationapp/base.html" %}
{% load i18n mptt_tags %}

{% block meta-description %}{% trans "Relation list" %}{% endblock %}

{% block title %}{% trans "Relations" %}{% endblock %}

{% block content %}
<h2>{% trans "Relation list" %}</h2>
<div>
  {% for object, structure in object_list|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
      <a href="{{ object.get_absolute_url }}" title="{{ object }}">{{ object }}</a>
      {% blocktrans count object.relationtypes_published.count as relationtype_count %}{{ relationtype_count }} relationtype{% plural %}{{ relationtype_count }} relationtypes{% endblocktrans %}
      {% if object.description %}<br />{{ object.description|striptags|safe }}{% endif %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% empty %}
  <ul>
    <li>
      {% trans "No relations yet." %}
    </li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
