{% extends "relationapp/base.html" %}
{% load i18n relationapp_tags mptt_tags %}

{% block title %}{% trans "Sitemap" %}{% endblock %}

{% block content %}
<h2>{% trans "Sitemap" %}</h2>

<div class="relationtypesbyrelations">
  <h3>{% trans "Relationtypes per relations" %}</h3>
  {% for relation in relations %}
  <h4>{{ relation }}</h4>
  <ul>
    {% for relationtype in relation.relationtypes_published.all %}
    <li>
      <a href="{{ relationtype.get_absolute_url }}" title="{{ relationtype.title }}" rel="bookmark">{{ relationtype.title }}</a>
      {% with relationtype.comments.count as comment_count %}
      - {{ comment_count }} {% trans "comment" %}{{ comment_count|pluralize }}
      {% endwith %}
    </li>
    {% empty %}
    <li>
      {% trans "No relationtypes yet." %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

<div class="allrelationtypes">
  <h3>{% trans "All the relationtypes" %}</h3>
  <ul>
    {% for relationtype in relationtypes %}
    <li>
      <a href="{{ relationtype.get_absolute_url }}" title="{{ relationtype.title }}" rel="bookmark">{{ relationtype.title }}</a>
      - {{ relationtype.creation_date|date:"SHORT_DATE_FORMAT" }}
      {% with relationtype.comments.count as comment_count %}
      - {{ comment_count }} {% trans "comment" %}{{ comment_count|pluralize }}
      {% endwith %}
    </li>
    {% empty %}
    <li>
      {% trans "No relationtypes yet." %}
    </li>
    {% endfor %}
  </ul>
</div>

<div class="relations">
  <h3>{% trans "Relations" %}</h3>
  {% for relation, structure in relations|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
      <a href="{{ relation.get_absolute_url }}" title="{{ relation.title }}">{{ relation.title }}</a>
      -
      {% blocktrans count relation.relationtypes_published.count as relationtype_count %}{{ relationtype_count }} relationtype{% plural %}{{ relationtype_count }} relationtypes{% endblocktrans %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
    {% empty %}
  <ul>
    <li>
      {% trans "No relations yet." %}
    </li>
  </ul>
  {% endfor %}
</div>

<div class="montharchives">
  <h3>{% trans "Monthly archives" %}</h3>
  {% get_archives_relationtypes %}
</div>
{% endblock %}
