{% load relationapp_tags i18n %}
{% get_tags as relationtype_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}Demonstration of the Relationapp Blog application.{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, relationapp, {{ relationtype_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="gnowgi" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}relationapp/img/favicon.ico" />
    <link rel="home" href="{% url relationapp_relationtype_archive_index %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}relationapp/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}relationapp/css/print.css" />
    <!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}relationapp/css/ie.css" />
    <![endif]-->
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Gnowledge Studio - {% block title %}{% endblock %}</title>
  </head>
  <body id="relationapp">
    <div class="container">
      <div id="header" class="span-24 last">
	<div class="top-navigation">
	  <a href="{% url relationapp_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">
	    {% trans "Sitemap" %}
	  </a> |
	  <a href="{% url relationapp_relationtype_latest_feed %}" title="{% trans "RSS Feed of latest relationtypes" %}" class="link feeds">
	    {% trans "RSS Feed" %}
	  </a>
	</div>
	<h1>
	  <a href="{% url relationapp_relationtype_archive_index %}" title="Gnowledge Studio" rel="home">
	    Gnowledge Studio
	  </a>
	</h1>
	<blockquote>
	  <h3>A workspace for constructing and publishing knowledge networks.</h3>
	</blockquote>
	<div id="breadcrumbs" class="span-24 last">
	  / {% block breadcrumbs %}{% endblock %}
	</div>
      </div>
      <div id="body" class="span-24 last">
	<div id="content" class="hfeed span-16 border">
	  {% block content %}
	  <h3>The content block need to be overrided!</h3>
	  {% endblock %}
	</div>
	<div id="sidebar" class="span-8 last">
	  <div class="welcome">
	    <h3>Welcome!</h3>
	    <p>
	      This application is an attempt to collaborative
	      framework for online construction and publication of
	      knowledge networks and ontologies. 
            </p>
            <p>
	      Currently gnowledge studio provides support for
	      Relations and Relationtypes. Using relations you can
	      define different kinds of concepts, like "concept
	      names", "action names", "scientific concept", "phylem"
	      etc. Relationtypes are any regular classes, which can be
	      defined as members of Relations. Both relationtypes and
	      relations can have parent, siblings and children to
	      create hierarchical structures. In our next release we
	      will have objects as members of relationtypes. While we
	      shape this project, if you are interested in joining,
	      visit us
	      at <a href="https://www.metastudio.org/groups/relationapp/">metastudio.org</a>.
	    </p>
	  </div>
	  {% block sidebar %}
	  {% endblock %}
	</div>
      </div>
      <div id="footer" class="span-24 last">
	<p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/gnowgi/django-relationapp">Relationapp {{ RELATIONAPP_VERSION }}</a>.</p>
      </div>
    </div>
  </body>
</html>


