{% load i18n %}
<ul>
  {% for objecttype in objecttypes %}
  <li>
    <a href="{{ objecttype.get_absolute_url }}" title="{{ objecttype.title }}" rel="bookmark">{{ objecttype.title }}</a>
    <br />
    {% with objecttype.comments.count as comment_count %}
    <a href="{{ objecttype.get_absolute_url }}#comments" title="{{ objecttype.title }}">{{ comment_count }} {% trans "comment" %}{{ comment_count|pluralize }}</a>
    {% endwith %}
  </li>
  {% empty %}
  <li>
    {% trans "No objecttypes yet." %}
  </li>
  {% endfor %}
</ul>
