{% if objecttypes %}
<div id="slider">
  <ul class="ui-tabs-nav">
    {% for objecttype in objecttypes %}
    <li class="ui-tabs-nav-item{% if forloop.first %} ui-tabs-selected{% endif %}"
        id="nav-slider-{{ forloop.counter }}">
      <a href="#objecttype-slider-{{ forloop.counter }}">
        <img src="{% if objecttype.image %}{{ objecttype.image.url }}{% endif %}" alt="{{ objecttype.title }}" />
        <span>{{ objecttype.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for objecttype in objecttypes %}
  <div id="objecttype-slider-{{ forloop.counter }}" class="ui-tabs-panel">
    <img src="{% if objecttype.image %}{{ objecttype.image.url }}{% endif %}" alt="{{ objecttype.title }}" />
    <div class="panel_info">
      <h2>
        <a href="{{ objecttype.get_absolute_url }}" rel="bookmark">{{ objecttype.title }}</a>
      </h2>
      {{ objecttype.excerpt|linebreaks|truncatewords_html:20 }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
