{% extends "attributeapp/base.html" %}
{% load i18n mptt_tags %}

{% block meta-description %}{% trans "Attribute list" %}{% endblock %}

{% block title %}{% trans "Attributes" %}{% endblock %}

{% block content %}
<h2>{% trans "Attribute list" %}</h2>
<div>
  {% for object, structure in object_list|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
      <a href="{{ object.get_absolute_url }}" title="{{ object }}">{{ object }}</a>
      {% blocktrans count object.attributetypes_published.count as attributetype_count %}{{ attributetype_count }} attributetype{% plural %}{{ attributetype_count }} attributetypes{% endblocktrans %}
      {% if object.description %}<br />{{ object.description|striptags|safe }}{% endif %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% empty %}
  <ul>
    <li>
      {% trans "No attributes yet." %}
    </li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
