{% load i18n gstudio_tags %}

{% for objecttype in objecttypes %}
<tr>
  <th>
    <a href="{% url admin:gstudio_objecttype_change objecttype.pk %}"
       title="{% trans "Edit the objecttype" %}">
      {{ objecttype.title }}
    </a>
    {% trans "on" %}
    <abbr>{{ objecttype.creation_date|date:"DATE_FORMAT" }}</abbr>
    {{ objecttype.html_content|truncatewords_html:20|safe }}
  </th>
  <td>
    <a href="{{ objecttype.get_absolute_url }}" class="previewlink">
      {% trans "Preview" %}
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <th colspan="2">
    {% trans "No draft objecttypes." %}
  </th>
</tr>
{% endfor %}

{% if objecttypes %}
<tr>
  <th colspan="2">
    <a href="{% url admin:gstudio_objecttype_changelist %}?status__exact=0"
       title="{% trans "View all draft objecttypes" %}" class="managelink">
      {% trans "View all draft objecttypes" %}
    </a>
  </th>
</tr>
{% endif %}
