{% if relationtypes %}
<div id="slider">
  <ul class="ui-tabs-nav">
    {% for relationtype in relationtypes %}
    <li class="ui-tabs-nav-item{% if forloop.first %} ui-tabs-selected{% endif %}"
        id="nav-slider-{{ forloop.counter }}">
      <a href="#relationtype-slider-{{ forloop.counter }}">
        <img src="{% if relationtype.image %}{{ relationtype.image.url }}{% endif %}" alt="{{ relationtype.title }}" />
        <span>{{ relationtype.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for relationtype in relationtypes %}
  <div id="relationtype-slider-{{ forloop.counter }}" class="ui-tabs-panel">
    <img src="{% if relationtype.image %}{{ relationtype.image.url }}{% endif %}" alt="{{ relationtype.title }}" />
    <div class="panel_info">
      <h2>
        <a href="{{ relationtype.get_absolute_url }}" rel="bookmark">{{ relationtype.title }}</a>
      </h2>
      {{ relationtype.excerpt|linebreaks|truncatewords_html:20 }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
